@import '../node_modules/bootstrap/scss/bootstrap.scss';

.station-latest {
  position: relative;
  background-color: black;
  color: white;
  border-radius: 5px;
  flex-grow: 1;
  margin: 0 1em;
  padding: 1em;
  width: 200px;
}

.card-icons {
  position: absolute;
  top: 15px;
  right: 15px;
}

#mapid {
  height: 600px;
}

.search-list {
  border-top: 1px solid lightslategray;
  border-left: 1px solid lightslategray;
  border-right: 1px solid lightslategray;
  list-style: none;
  padding-left: 0;
  margin-top: 5px;
}
.searchresult-item {
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid lightslategray;
}

.searchresult-item:hover {
  background-color: bisque;
}
