@import '../node_modules/bootstrap/scss/bootstrap.scss';

.station-latest {
  position: relative;
  background-color: black;
  color: white;
  border-radius: 5px;
  flex-grow: 1;
  margin: 0 1em;
  padding: 1em;
  width: 200px;
}

.card-icons {
  position: absolute;
  top: 15px;
  right: 15px;
}

#mapid {
  height: 600px;
}
