<section class="container my-4 mx-auto">
  <div class="row">
    <div class="col col-6 form-left">
      <form
        action="/stations/{{station._id}}/addreading"
        method="post"
        class="form"
      >
        <div class="mb-3">
          <label class="form-label" for="code">Code</label>
          <select class="form-control" name="code" id="code" class="form-input">
            <option value="100">100 (Clear)</option>
            <option value="200">200 (Partial cloud)</option>
            <option value="300">300 (Cloudy)</option>
            <option value="400">400 (Light showers)</option>
            <option value="500">500 (Heavy showers)</option>
            <option value="600">600 (Rain)</option>
            <option value="700">700 (Snow)</option>
            <option value="800">800 (Thunder)</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label" for="temperature">Temperature</label>
          <input
            class="form-control"
            type="number"
            id="temperature"
            name="temperature"
            placeholder=" 5.0C"
            step="any"
            required
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="windSpeed">Wind Speed</label>
          <input
            class="form-control"
            type="number"
            id="windSpeed"
            name="windSpeed"
            placeholder=" 10.5kmph"
            step="any"
            required
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="windDirection">Wind Direction</label>
          <input
            class="form-control"
            type="number"
            id="windDirection"
            name="windDirection"
            placeholder=" 180deg"
            required
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="pressure">Pressure</label>
          <input
            class="form-control"
            type="number"
            id="pressure"
            name="pressure"
            placeholder=" 000hPa"
            required
          />
        </div>
        <div class="button-container">
          <button type="submit" class="btn btn-primary">Save Reading</button>
        </div>
      </form>
    </div>
    <div class="col col-6 form-right text-center">
      <p><b class="fs-2 text-notblack">OR</b></p>
      <p class="fs-5">you can use this button to autogenerate a reading from the
        OpenWeatherAPI!</p>
      <form action="/stations/{{station._id}}/autogenerate" method="POST">
        <button type="submit" class="btn btn-warning">Auto Generate Reading</button>
      </form>
    </div>
  </div>
</section>