<section>
  <form action='/stations/add' method='POST'>
    <div class='mb-3'>
      <label class='form-label' for='name'>Station Name:</label>
      <input class='form-control' type='text' name='name' required />
    </div>

    <div class='mb-3'>
      <label class='form-label' for='lat'>Latitude:</label>
      <input
        class='form-control'
        type='number'
        name='lat'
        step='0.0000001'
        placeholder='0.00000'
        required
      />
    </div>

    <div class='mb-3'>
      <label class='form-label' for='lng'>Longitude:</label>
      <input
        class='form-control'
        type='number'
        name='lng'
        step='0.0000001'
        placeholder='0.00000'
        required
      />
    </div>

    <button class='btn btn-primary' type='submit'>Submit</button>
  </form>
</section>