{{> authmenu id="dashboard"}}

<section class="d-flex flex-column w-100 justify-content-between">
  {{#each stations}}
    {{> stationcard dashboard=true }}
  {{/each}}
</section>

{{> addstation}}

{{> stationmap}}