{{> authmenu id="locations"}}

<section class="d-flex flex-column w-100 justify-content-between">
{{#each locations}}
    {{> locationcard }}
{{/each}}
</section>

<section class="d-flex flex-column w-100 justify-content-between">

{{!-- Form to add a location --}}
<form action="/locations/add" method="post" class="form">
    <label>Add a Location</label>
    <div class="form-group">
        <label for="topic">Topic</label>
        <input type="text" class="form-control" name="name" placeholder="Enter Location">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</section>