{{> menu id="register"}}

{{#if msg}}
<h5>{{msg}}</h5>
{{/if}}
<div class='container w-50'>

  <h3>Register</h3>

  <form action="/register" method="POST">
    <div class='mb-3'>
      <label for='username'>Username</label>
      <input type='text' name='username' id='username' class='form-control' />
    </div>
    <div class='mb-3'>
      <label for='email' class='form-label'>Email</label>
      <input
        type='email'
        class='form-control'
        name='email'
        id='email'
        aria-describedby='emailHelp'
      />
      <div id='emailHelp' class='form-text'>We'll never share your email with
        anyone else.</div>
    </div>
    <div class='mb-3'>
      <label for='password' class='form-label'>Password</label>
      <input type='password' class='form-control' name='password' id='password' />
    </div>
    <div class='mb-3'>
      <label for='repeatPassword' class='form-label'>Repeat Password</label>
      <input type='password' class='form-control' name='repeatPassword' id='repeatPassword' />
    </div>
    <button type='submit' class='btn btn-primary'>Submit</button>
  </form>

</div>