{{> authmenu id="station"}}

{{> stationcard}}

{{> stationreadings}}

{{> addreading}}

<form action="/stations/{{station._id}}/autogenerate" method="POST">
  <button type="submit" class="btn btn-warning">Auto Generate Reading</button>
</form>